@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins&family=Urbanist:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: "Urbanist", sans-serif;
 */

body {
  background-color: #39aea9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(41, 41, 41);
  font-family: "Poppins", sans-serif;
}

#maingame {
  top: 0;
  left: 0;
  text-align: center;
  font-size: calc(14px + 1vw);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

#player {
  margin-bottom: 10px;
  font-size: calc(10px + 1.5vw);
}

#cover {
  position: relative;
  overflow: hidden;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 33.333333333%;
  width: 33.333333333%;
  box-sizing: border-box;
  border-width: 0.7vmin;
  border-color: rgba(78, 78, 78, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(14px + 14vmin);
  cursor: pointer;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.cell:nth-of-type(1) {
  border-style: none solid solid none;
}

.cell:nth-of-type(2) {
  border-style: none solid solid solid;
}

.cell:nth-of-type(3) {
  border-style: none none solid solid;
}

.cell:nth-of-type(4) {
  border-style: solid solid solid none;
}

.cell:nth-of-type(5) {
  border-style: solid;
}

.cell:nth-of-type(6) {
  border-style: solid none solid solid;
}

.cell:nth-of-type(7) {
  border-style: solid solid none none;
}

.cell:nth-of-type(8) {
  border-style: solid solid none solid;
}

.cell:nth-of-type(9) {
  border-style: solid none none solid;
}

#start {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
  font-size: calc(14px + 1.6vw);
  text-align: center;
}

#start > * {
  margin: 0 3vw;
}

#prompt {
  text-align: center;
}

#prompt * {
  margin: 2vh 0;
}

#choose {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20vh;
}

#O,
#X {
  min-height: 20px;
  min-width: 20px;
  height: 20vmin;
  width: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  font-size: calc(20px + 3vw);
  padding: 1vmax;
}

#O:hover,
#X:hover {
  position: relative;
  bottom: 10px;
  animation: moveUp 0.5s;
}

#O,
#X {
  background-color: transparent;
}

/* #line {
    height: 2vmin;
    width: 60vmin;
    background-color: black;
    position: absolute;
    top: 8vmin;
    left: -18vmin; 
    z-index: 1;
    transform: rotate(45deg);
} */

@keyframes moveUp {
  from {
    bottom: 0px;
  }
  to {
    bottom: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spread {
  from {
    width: 20vmin;
    height: 20vmin;
  }
  to {
    width: 60vmin;
    height: 60vmin;
  }
}

@keyframes spreadOut {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spreadOutIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

#turn {
  font-size: larger;
}

#controls {
  width: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

#controls > * {
  margin: 0.5vh 0;
}

#history {
  display: flex;
  justify-content: space-between;
}

.button {
  min-width: 15%;
  padding: 0 1vh;
  min-height: 20px;
  height: 4vh;
  font-size: calc(8px + 0.6vw);
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

button img {
  height: 80%;
}

#prev {
  background-color: #008bba81;
  transition: 0.4s;
  min-width: 85px;
  display: flex;
  justify-content: flex-start;
  padding-right: 10px;
  color: white;
}

#prev:hover {
  background-color: #008cba;
}

#next {
  background-color: #6fc77270;
  transition: 0.4s;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
}

#newgame {
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: calc(8px + 0.6vw);
  align-self: center;
  background-color: transparent;
}

#newgame:hover {
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}

#reset {
  width: 30%;
  height: 40px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-size: calc(8px + 0.6vw);
  align-self: center;
  background-color: transparent;
}

#reset:hover {
  background-color: rgb(197, 70, 70);
  transition: 0.4s;
}

#movetitle {
  color: white;
}

#score {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  position: absolute;
  top: 4vh;
  width: 40%;
}

#score h2 {
  margin-left: 1.5vw;
}

#score span {
  margin-right: 1.5vw;
}

#score div {
  width: 15vw;
  font-size: calc(1px + 1vw);
  min-width: 70px;
  background-color: white;
  border-radius: 1vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 2px;
  border-color: black;
  box-sizing: border-box;
  transition: 0.1s;
  height: 5vh;
}

#congrats {
  display: none;
  font-size: calc(20px + 1.5vw);
  margin-bottom: 10px;
}

@media only screen and (orientation: portrait) {
  #movenum {
    margin: 0 1vh;
  }

  #history {
    justify-content: space-between;
  }

  #score {
    width: 70%;
  }

  #maingame {
    margin-top: 0;
  }
}

.shapeX::before {
  transform: rotate(-45deg);
  content: "";
}

.shapeX::after {
  transform: rotate(45deg);
  content: "";
}

.shapeX {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spreadOut 0.2s;
}

.shapeX::before,
.shapeX::after {
  position: absolute;
  width: 3vmin;
  height: 17vmin;
  border-radius: 4px;
  background-color: rgb(75, 75, 75);
}

.shapeO {
  animation: spreadOut 0.2s;
  border-radius: 50%;
  border: 2.5vmin solid white;
  width: 10vmin;
  height: 10vmin;
  z-index: 1;
}
