* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#cb {
    height: 90vh;
    width:  90vh;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1vh;
    border-color: rgb(182, 142, 94);
    box-shadow: 0px 0px 23px 1px rgba(0,0,0,0.75);
}

.square {
    background-color:rgb(255, 230, 206);
    width: 11.25vh;
    height: 11.25vh;
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squared {
    background-color:rgb(61, 122, 80);
    width: 11.25vh;
    height: 11.25vh;
    font-size: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 640px) {
    #cb {
        height: 90vw;
        width: 90vw;
        border-width: 1vw;
        min-width: 60px;
        min-height: 60px;
    }

    .square {
        width: 11.25vw;
        height: 11.25vw;
        font-size: 8vw;
        min-width: 7.5px;
        min-height: 7.5px;
    }

    .squared {
        width: 11.25vw;
        height: 11.25vw;
        font-size: 8vw;
        min-width: 7.5px;
        min-height: 7.5px;
    }

}


@media only screen and (min-width: 640px) and (max-height:500px) {
    #cb {
        height: 90vh;
        width: 90vh;
        border-width: 1vh;
    }

    .square {
        width: 11.25vh;
        height: 11.25vh;
        font-size: 8vh;
    }

    .squared {
        width: 11.25vh;
        height: 11.25vh;
        font-size: 8vh;
    }

}

@media only screen and (min-width: 640px) and (min-height: 640px) {
    #cb {
        height: 90vw;
        width: 90vw;
        border-width: 1vw;
    }

    .square {
        width: 11.25vw;
        height: 11.25vw;
        font-size: 8vw;
    }

    .squared {
        width: 11.25vw;
        height: 11.25vw;
        font-size: 8vw;
    }

}


@media only screen and (min-width: 920px) and (min-height: 640px) {

    #cb {
        height: 90vh;
        width: 90vh;
        border-width: 1vh;
    }

    .square {
        width: 11.25vh;
        height: 11.25vh;
        font-size: 8vh;
    }

    .squared {
        width: 11.25vh;
        height: 11.25vh;
        font-size: 8vh;
    }

}