/* At least one media query */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Faster+One&family=Poppins:wght@500&family=Roboto+Slab&family=Roboto:wght@300;400&family=Russo+One&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    /* font-family: 'Bebas Neue', cursive;
    font-family: 'Faster One', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Russo One', sans-serif; */
}


#header-img {
    height: 48px;
    margin: 10px;
    margin-left: 2vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    cursor: pointer;
}

#header {
    display: block;
    height: 70px;
    border-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px;
    border-top: 1px;
    border-style: solid;
    margin-right: 30px;
    z-index: 999;
    width: 100%;
}

#nav-bar {
    background: rgba(255, 255, 255, 0.842);
    font-size: 17px;
    z-index: 999;
    font-family: 'Bebas Neue', cursive;
    font-size: calc(20px + 0.4vw);
    flex-direction: row;
    justify-content: center;
    position: absolute;
    align-items: center;
    display: flex;
    height: 70px;
    border-bottom: 2px;
    position: fixed;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    letter-spacing: 2px;
    padding: 0 2vw 0 2vw;
    box-sizing: border-box;
}

li:hover {
    border-left: black;
    border-right: black;
    border-style: double;
}

a {
    text-decoration: none;
    color: black;
}



#product {
    position: relative;
    max-height: 80vh;
    min-height: 560px;
    display: block;
    overflow: hidden;
}

#video {
    width: 100%;
    min-height: 600px;
    display: block;
    object-fit: cover;
    z-index: -1;
}

#title {
    color: white;
    font-size: calc(22px + 1.5vw);
    min-width: 30%;
    max-width: 40%;
    z-index: 2;
    margin-left: 7vw;
    position: absolute;
    left: 0;
    top: 35%;
}

#title h1 {
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    width: 50%;
}


#ultra {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0%;
    left: 0%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoes {
    max-width: 60vw;
    min-width: 300px;
    margin-right: 3vw;
    margin-left: 3vw;
}

#anim {
    width: 45vw;
    margin-bottom: 4vh;
    transform: rotate(-7deg);
    animation: cssAnimation 0s ease-in 2.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


#overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-image: linear-gradient(to right, #ebd767 , #c2723d, #eee1a3, #c2723dec);
    animation: cssAnimation 0s ease-in 2.5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

section {
    font-family: 'Roboto', sans-serif;
}

.page {
    height: 40vh;
    background-color: #FDF6EC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: x-large;
}

.pageop {
    height: 40vh;
    background-color: #FDF6EC;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: x-large;
}

.shoetext {
    width: 40vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.shoetext h1 {
    font-family: 'Poppins', sans-serif;
    font-size: calc(10px + 3vw);
    text-shadow: 1px 1px;
}

.shoetext h6 {
    font-weight: 300;
    font-size: calc(10px + 0.5vw);

}

#shop1 {
    background-color: rgb(255, 255, 255);
    margin: 1vh 0vh 0vh 2vh;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 0.5vw 0.5vw 0.5vw 1vw;
    box-shadow: 7px 7px 0px rgb(77, 77, 77);
    min-width: 120px;
}


#shop {
    background-color: rgb(19, 19, 19);
    margin: 1vh 0vh 0vh 2vh;
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 0.5vw 0.5vw 0.5vw 1vw;
    box-shadow: 5px 5px 0px rgb(150, 150, 150);
    border-radius: 3px;
}

#shop a {
    color: white;
}



#newsletter {
    background-color: #2c2c2c;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0 30px 0;
    text-align: justify;
}

#newsletter h2{
    margin-left: 5vmax;
    margin-right: 5vmax;
    font-family: 'Roboto Slab', serif;
    font-size: calc(16px + 1vw)
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#email {
    padding: 4px;
    border-radius: 3px;
    margin: 1.5vw;
}

#emailcap {
    font-weight: 300;
}

#submit {
    padding: 5px 15px 5px 15px;
    background-color: #ebd767;
    font-family: 'Bebas Neue', cursive;
    border-radius: 14px;
    font-size: 18px;
}

::-webkit-input-placeholder {
   text-align: center;
}

#footer {
    background-color: #9c9c9c;
    color:rgb(0, 0, 0);
    font-weight: 300;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}




@media only screen and (orientation: portrait) {
    .page {
        flex-direction: column;
        justify-content: center;
        height: 35vh;
        min-height: 310px;
    }

    .pageop {
        flex-direction: column-reverse;
        justify-content: center;
        height: 35vh;
        min-height: 340px;
    }

    .shoetext {
        width: 80vw;
        text-align: center;
        margin-left: 0;
    }

    #anim {
        width: 90vw;
        height: auto;
    }

    .shoes {
        max-width: 80vw;
        min-width: 20px;
        max-height: 200px;
    }

    #header-img {
        height: 36px;
        padding-top: 8px;
    }

    li {
    letter-spacing: 0;
    }


}

@media only screen and (max-width: 600px) {

    #form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3vw;
    }
    
    #email {
        margin: 1vh;
    }
    
    #anim {
        position: absolute;
        top: 20%;
    }

    #title {
        top: 45%;
    }

    ul a:nth-child(1) {
        display: none;
    }

}







/* SHOP STARTS HERE */

#shoppage {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    background-color: #dddddd;
}
.shoeitem {
    z-index: 0;
    position: relative;
    min-width: 200px;
    cursor: pointer;
}

.shoepic {
    width: 30vw;
    object-fit: cover;
    height: 98%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    z-index: 1;
}


.shoptext {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 14px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

.shoecaption {
    font-family: 'Poppins', sans-serif;
    font-size: calc(14px + 0.7vmin);
    padding: 2px;
    margin-left: 2vw;
}

#more {
    color: #ffffff;
    -webkit-text-stroke-width: 0.1vmin;
    -webkit-text-stroke-color: black;
    font-size: 250%;
}


.price span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    width: 100%;
    font-size: calc(12px + 0.5vmin);
}


.price {
    /* margin: 1vw 1.5vw 0 0; */
    display: inline-block;
    border-style: solid;
    width: 8vmin;
	height: 3vmin;
    min-height: 30px;
    min-width: 70px;
	transform: skew(-15deg);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    background: rgba(221, 221, 221, 0.836);
}


.itemhover {
    position: absolute;
    top: 0;
    width: 30vw;
    height: 98%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 0.5vw;
    z-index: 3;
    box-sizing: border-box;
}

.itemhover:hover {
    border: black;
    border-style: solid;
    border-width: 0.1vmin;
    background: rgba(0, 0, 0, 0.048);
    transition: 1s;
}

@media only screen and (orientation: portrait) {
    .shoepic {
        width: 45vw;
    }

    .itemhover {
        width: 45vw;
    }

}

@media only screen and (max-width: 600px) {
    .shoepic {
        width: 90vw;
    }

    .shoeitem {
        height: 300px;
    }

    .price {
        margin-right: 5vw;
    }

    .itemhover {
        width: 90vw;
    }

}



/* FEATURES START HERE */

#boost {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


#boost h2 {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}


#fcon {
    width: 70vw;
}

#boost p {
    margin-bottom: 3vmin;
    margin-left: 1vmax;
    font-size: calc(12px + 0.5vmax);
    width: 95%;
}

#boost span {
    margin-bottom: 5vmax;
}

#boost #sole {
    width: 80%;
    margin-left: 2vw;
    margin-bottom: 2vmax;
}

#video2 {
    width: 57vw;
    min-height: 100px;
    height: 32.0625vw;
    margin: 20px;
    margin-left: 2vw;
}

@media only screen and (orientation: portrait) {

    #fcon {
        width: 85vw;
    }

    #boost p {
        margin-left: 1.2vmax;

    }

    #boost #sole {
        width: 90%;
        margin-left: 2vw;
    }

    #video2 {
        width: 80vw;
        height: 45vw;
    }

}


@media only screen and (max-width: 600px) {

    #fcon {
        width: 85vw;
    }

    #boost #sole {
        width: 100%;
        margin-left: 0vw;
    }

    #video2 {
        width: 90vw;
        height: 50.625vw;
        margin-left: 0;
    }
}

/* ABOUT STARTS HERE */

#about h1 {
    font-family: 'Faster One', cursive;
    margin: 10px;
    font-size: calc(30px + 0.5vmax);
}

#about {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#acon {
    width: 70vw;
}

#about p {
    margin-bottom: 3vmin;
    margin-left: 1vmax;
    font-size: calc(12px + 0.5vmax);
    width: 95%;
}


#acon img {
    width: 40vw;
}

#about span {
    margin-bottom: 5vmax;
}


@media only screen and (orientation: portrait) {

    #acon {
        width: 85vw;
    }

    #about p {
        margin-left: 1.2vmax;

    }

    #cny{
        width: 70vw;
    }

}


@media only screen and (max-width: 600px) {

    #acon {
        width: 85vw;
    }

    #cny {
        width: 90vw;
    }
}